body {
  font-size: 32px;
  /*background-image: url('https://i.pinimg.com/originals/50/1d/49/501d49dc37935dc5c1fa42a676f785de.gif');*/
  background-image: url('https://images.hdqwalls.com/download/purple-night-ride-4k-qz-2560x1700.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: rgba(0, 0, 0, 0.9);
  background-attachment: fixed;
  backdrop-filter: blur(4px);
  color: #c9c6c6;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  height: 100vh;
  margin: 0;
}

h1 {
  color: #ffffff;
}